/*
 *
 *		PAGES-STYLE.CSS
 *
 *	+ PAGE WRAPPER
 *	+ HEADER
 *	 - HEADER TOP
 *	 - LOGO
 *	 - MENU
 *	 - MOBILE MENU
 *	 - STICKY
 *	+ PAGE CONTENT
 *	 - PAGE HEADER
 *	+ FOOTER
 *	 - FOOTER
 *	 - FOOTER BOTTOM
 *  + PAGES
 *	 - HOME
 *	 - ABOUT
 *	 - SERVICES
 *	 - PORTFOLIO
 *	 - BLOG
 *	 - CONTACT
 *	 - SHORTCODES
 */

/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/

#main-container {
	overflow: hidden;
	background-color: #fff;
}

.boxed {
	padding: 0 25px;
}

@media (min-width:576px) {

	.container {
		max-width: 540px
	}

}

@media (min-width:768px) {

	.container {
		max-width: 750px
	}

}

@media (min-width:992px) {

	.container {
		max-width: 970px
	}

}

@media (min-width:1200px) {

	.container {
		max-width: 1170px
	}

}

@media (min-width: 1400px) {

	.boxed {
		padding: 0 50px;
	}

}

@media (max-width: 991px) {

	.boxed {
		padding: 0;
	}

}

/***********************************************************************************
 *	+ HEADER
 ***********************************************************************************/

#header {
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.boxed #header .container-fluid {
	padding: 0;
}

/* HEADER TRANSPARENT */
.header-transparent #header {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
}

.header-transparent #header-top + #header {
	top: 61px;
}

.header-transparent .menu > li > a {
	color: #fff;
}

.header-transparent #header-sticky .menu > li > a {
	color: #252525;
}

.header-transparent #page-header {
	padding-top: 170px;
}

.header-transparent .mobile-menu-button {
	color: #fff;
}

/* HEADER MODERN */
.header-modern #header {
	background-color: #232c3d;
}

.header-modern #header-top + #header {
	border-top: 1px solid rgba(255, 255, 255, 0.19);
}

.header-modern .menu > li > a {
	color: #fff;
}

.header-modern #header-sticky .menu > li > a {
	color: #252525;
}

.header-modern .mobile-menu-button {
	color: #fff;
}

/* HEADER BORDERED */
.header-bordered #header {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header-bordered #header-top + #header {
	top: 61px;
}

.header-bordered .menu > li > a {
	color: #fff;
}

.header-bordered .menu > li > a:before {
	margin-bottom: -1px;
}

.header-bordered #header-sticky .menu > li > a {
	color: #252525;
}

.header-bordered #page-header {
	padding-top: 170px;
}

.header-bordered .mobile-menu-button {
	color: #fff;
}

/* HEADER CREATIVE */
.header-creative #header {
	position: relative;
	z-index: 100;
	width: 970px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 33px 51px 0 rgba(0, 0, 0, 0.41);
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

.header-creative #page-header {
	padding-top: 180px;
}

@media (min-width: 1200px) {

	#header .container-fluid {
		padding: 0 50px;
	}

	.header-creative #header {
		width: 1240px;
	}

}

@media (max-width: 991px) {

	.boxed #header .container-fluid {
		padding: 0 15px;
	}

	.header-creative #header {
		width: 90%;
	}

}

@media (max-width: 767px) {

	.header-transparent #header-top + #header,
	.header-bordered #header-top + #header {
		top: 0;
	}

}

/***********************************************************************************
 *	- HEADER TOP
 ***********************************************************************************/

#header-top {
        padding: 10px 0;
        background-color: #232c3d;
}

#header-top h1,
#header-top h2,
#header-top h3,
#header-top h4,
#header-top h5,
#header-top h6 {
	color: #afafaf;
}

#header-top .btn-outline {
	color: #fff;
}

#header-top .btn-white {
	color: #838383;
}

#header-top .widget:last-child {
        margin-bottom: 0;
}

#header-top .widget-contact ul li {
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
}

#header-top .widget-contact ul li i {
	margin-right: 5px;
}

#header-top .widget-contact ul li:last-child {
        margin-right: 0;
}

#header-top .widget-search #s {
	float: right;
	width: 320px;
	height: 40px;
	padding-left: 20px;
        border: 2px solid transparent;
	border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.09);
	color: #fff;
}

#header-top .widget-search #s:focus {
	border-color: #838383;
}

#header-top .widget-search input[type="submit"] {
	background-image: url(http://milothemes.com/decode/demo-01/assets/images/search-2.png);
}

#header-top .widget-recent-posts ul li .post-title,
#header-top .widget-recent-posts ul li .post-details a,
#header-top .widget-latest-posts ul li .post-title,
#header-top .widget-latest-posts ul li .post-details a.post-category,
#header-top .widget-latest-posts ul li .post-details a:last-of-type,
#header-top .widget-recent-comments ul li,
#header-top .widget-recent-comments ul li a {
	color: inherit;
}

#header-top .widget-recent-posts ul li .post-title:hover,
#header-top .widget-recent-posts ul li .post-details a:hover,
#header-top .widget-latest-posts ul li .post-title:hover,
#header-top .widget-latest-posts ul li .post-details a.post-category:hover,
#header-top .widget-latest-posts ul li .post-details a:last-of-type:hover,
#header-top .widget-recent-comments ul li a:hover {
	color: #00f0d1;
}

@media (min-width: 1200px) {

        #header-top .container-fluid {
                padding: 0 50px;
        }

}

@media (max-width: 767px) {

	#header-top {
		display: none;
	}

}

/***********************************************************************************
 *	- LOGO
 ***********************************************************************************/

#logo {
	max-width: 100%;
	margin: 24px 0 25px;
}

#logo a {
	display: inline-block;
	max-width: 100%;
	text-align: center;
}

@media (max-width: 767px) {

	#logo {
		max-width: 75%;
		margin: 24px auto 25px;
		text-align: center;
	}

}

/***********************************************************************************
 *	- MENU
 ***********************************************************************************/

.menu,
.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu {
	float: right;
	margin-top: 16px;
}

.menu > li {
	float: left;
	margin-right: 10px;
}

.menu > li:last-child {
	margin-right: 0;
}

.menu li a {
	display: block;
	padding: 7px 13px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #252525;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.menu > li > a {
	position: relative;
	padding: 10px 25px 25px;
	font-weight: 500;
}

.menu > li > a:before {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 3px;
	background-color: #00f0d1;
	content: "";
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.menu > li:last-child > a {
	margin-right: 0;
}

.menu li.dropdown ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 2000;
	width: 180px;
	background-color: #fff;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
}

.menu li.dropdown ul ul {
	top: 0;
	left: 100%;
}

.menu li.dropdown:hover > ul {
	display: block;
}

.menu li.megamenu .megamenu-container {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 2000;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
}

.megamenu-container .section {
	float: left;
	width: 25%;
	padding: 0 20px;
}

.megamenu-container.cols-2 .section {
	width: 50%;
}

.megamenu-container.cols-3 .section {
	width: 33.33333333%;
}

.megamenu-container.cols-4 .section {
	width: 25%;
}

.megamenu-container.cols-5 .section {
	width: 20%;
}

.megamenu-container .section > ul {
	margin: 0 -20px;
}

.megamenu-container .section > *:last-child {
	margin-bottom: 0;
}

.menu li.megamenu:hover > .megamenu-container {
	display: block;
}

.sf-arrows .sf-with-ul:after {
	position: absolute;
	top: 50%;
	right: -5px;
	display: none;
	margin-top: -16px;
	font-family: "FontAwesome";
	content: "\f107";
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sf-arrows > li:hover > .sf-with-ul:after {}

.sf-arrows ul .sf-with-ul:after {
	right: 15px;
	display: block;
	margin-top: 0;
	content: "\f105";
}

.sf-arrows ul li:hover > .sf-with-ul:after {}

.menu li a:hover,
.menu li.active > a,
.menu li.sfHover > a {
	text-decoration: none;
}

.menu li a:hover:before,
.menu li.active > a:before,
.menu li.sfHover > a:before {
	width: 75%;
}

.menu ul li > a:hover,
.menu ul li.sfHover > a {
	background-color: #00f0d1;
	color: #fff;
}

@media (min-width: 768px) and (max-width: 1199px) {

	.menu {
		display: none;
	}

}

@media (max-width: 767px) {

	.menu {
		display: none;
	}

}

/***********************************************************************************
 *	- MOBILE MENU
 ***********************************************************************************/

.mobile-menu-button {
	position: relative;
	z-index: 100;
	float: right;
	display: none;
	color: #00f0d1;
	font-size: 24px;
	line-height: 46px;
	text-decoration: none;
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
	text-decoration: none;
}

#mobile-menu,
#mobile-menu ul {
	list-style: none;
	margin: 0;
	background-color: #fff;
	color: #252525;
}

#mobile-menu {
	position: fixed;
	z-index: 99999;
	top: 0;
	bottom: 0;
	left: -260px;
	width: 240px;
	overflow-y: auto;
	padding-top: 15px;
	box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.06);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#mobile-menu.open {
	left: 0;
}

#mobile-menu li {
	position: relative;
}

#mobile-menu li a {
	display: block;
	padding: 10px 20px 10px 30px;
	color: #252525;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

#mobile-menu > li > a {
	font-size: 15px;
}

#mobile-menu ul a {
	padding-left: 40px;
}

#mobile-menu ul ul a {
	padding-left: 60px;
}

#mobile-menu .megamenu-container {
	display: none;
	margin-left: 0;
}

#mobile-menu .megamenu-container .section {
	float: none;
	width: 100%;
	margin-bottom: -1px;
	padding: 0 20px 20px 20px;
}

#mobile-menu .megamenu-container .section ul {
	display: block;
	margin: 0 -20px -20px;
}

#mobile-menu .megamenu-container .section ul a {
	padding-left: 40px;
}

#mobile-menu .megamenu-container .section > ul li a:before {
	display: none;
}

#mobile-menu li.dropdown > span:after,
#mobile-menu li.megamenu > span:after {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	display: block;
	width: 48px;
	height: 48px;
	color: #4e4e4e;
	font-family: "FontAwesome";
	font-size: 18px;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	content: "\f107";
}

#mobile-menu li.dropdown > span.open:after,
#mobile-menu li.megamenu > span.open:after {
	content: "\f106";
}

#mobile-menu li a.waves .waves-ripple {
	background-color: #00f0d1;
}

@media (min-width: 768px) and (max-width: 1199px) {

	.mobile-menu-button {
		display: block;
		margin-top: 18px;
	}
}

@media (max-width: 767px) {

	.mobile-menu-button {
		position: absolute;
		top: -61px;
		left: 15px;
		display: block;
	}

}

/***********************************************************************************
 *	- STICKY
 ***********************************************************************************/

#header-sticky .container {
	position: relative;
}

#header-sticky {
	position: fixed;
	z-index: 8000;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}

#header-sticky #logo {
	margin-top: 14px;
	margin-bottom: 15px;
}

#header-sticky .menu {
	margin-top: 6px;
}

#header-sticky .menu > li > a {
	padding-bottom: 15px;
}

.boxed #header-sticky .container-fluid {
	padding: 0 25px;
}

@media (min-width: 1400px) {

	.boxed #header-sticky .container-fluid {
		padding: 0 50px;
	}

}

@media (min-width: 1200px) {

	#header-sticky .container-fluid {
		padding: 0 50px;
	}

}

@media (max-width: 1199px) {

	#header-sticky {
		visibility: hidden;
	}

}

/***********************************************************************************
 *	+ PAGE CONTENT
 ***********************************************************************************/

#page-content {
	padding-bottom: 50px;
}

/***********************************************************************************
 *	- PAGE HEADER
 ***********************************************************************************/

#page-header {
	position: relative;
	overflow: hidden;
	padding: 140px 0 115px;
	margin-bottom: 100px;
	background: #00f0d1 no-repeat center center;
	background: -webkit-linear-gradient(97deg, #00f0d1, #4766c8, #c44fcb);
	background: -ms-linear-gradient(97deg, #00f0d1, #4766c8, #c44fcb);
	background: linear-gradient(97deg, #00f0d1, #4766c8, #c44fcb);
	background-size: cover;
	color: #fff;
	text-align: center;
}

#page-header i {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 64px;
	line-height: 64px;
}

#page-header h1 {
	color: inherit;
	font-size: 36px;
	line-height: 42px;
}

#page-header h1:after {
	display: block;
	width: 25px;
	height: 2px;
	margin: 20px auto 0;
	background-color: #fff;
	content: "";
}

#page-header .overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #c44fcb);
	background: -ms-linear-gradient(90deg, #00f0d1, #c44fcb);
	background: linear-gradient(90deg, #00f0d1, #c44fcb);
	mix-blend-mode: multiply;
}

#page-header .ken-burns {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: no-repeat top center;
	background-size: cover;
	animation: kenburns 45s infinite;
}

#page-header .container,
#page-header .container-fluid {
	position: relative;
	z-index: 2;
}

@keyframes kenburns {
	0% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
	50% {
		-webkit-transform: scale(1.5) rotate(5deg);
		transform: scale(1.5) rotate(5deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

@-webkit-keyframes kenburns {
	0% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
	50% {
		-webkit-transform: scale(1.5) rotate(5deg);
		transform: scale(1.5) rotate(5deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/

/***********************************************************************************
 *	- FOOTER
 ***********************************************************************************/

#footer {
	padding: 100px 0 95px;
	background-color: #f1f6f9;
}

#footer .widget-title {
	margin-top: 10px;
	font-size: 18px;
	line-height: 28px;
	text-transform: none;
}

#footer .widget-pages ul li {
	margin-bottom: 7px;
}

#footer .widget-pages ul li:last-child {
	margin-bottom: 0;
}

#footer .widget-pages ul li a {
	font-size: inherit;
}

/* FOOTER WHITE */
.footer-white #footer {
	padding-top: 0;
	background-color: #fff;
}

.footer-white #footer .widget {
	margin-bottom: 60px;
}

/* FOOTER DARK */
.footer-dark #footer {
	background-color: #29273a;
}

.footer-dark #footer h1,
.footer-dark #footer h2,
.footer-dark #footer h3,
.footer-dark #footer h4,
.footer-dark #footer h5,
.footer-dark #footer h6 {
	color: #afafaf;
}

.footer-dark #footer .btn-outline {
	color: #fff;
}

.footer-dark #footer .btn-white {
	color: #838383;
}

#footer .widget:last-child {
	margin-bottom: 0;
}

.footer-dark #footer .widget-recent-posts ul li .post-title,
.footer-dark #footer .widget-recent-posts ul li .post-details a,
.footer-dark #footer .widget-latest-posts ul li .post-title,
.footer-dark #footer .widget-latest-posts ul li .post-details a.post-category,
.footer-dark #footer .widget-latest-posts ul li .post-details a:last-of-type,
.footer-dark #footer .widget-recent-comments ul li,
.footer-dark #footer .widget-recent-comments ul li a {
	color: inherit;
}

.footer-dark #footer .widget-recent-posts ul li .post-title:hover,
.footer-dark #footer .widget-recent-posts ul li .post-details a:hover,
.footer-dark #footer .widget-latest-posts ul li .post-title:hover,
.footer-dark #footer .widget-latest-posts ul li .post-details a.post-category:hover,
.footer-dark #footer .widget-latest-posts ul li .post-details a:last-of-type:hover,
.footer-dark #footer .widget-recent-comments ul li a:hover {
	color: #00f0d1;
}

@media (max-width: 767px) {

	#footer [class^="col-"] + [class^="col-"] {
		margin-top: 50px;
	}

	#footer .widget {
		margin-bottom: 30px;
	}

	#footer .widget-title {
		margin-top: 0;
	}

}

/***********************************************************************************
 *	- FOOTER BOTTOM
 ***********************************************************************************/

#footer-bottom {
	padding: 15px 0;
	background-color: #e5eef3;
}

#footer-bottom .widget {
	margin-bottom: 30px;
}

#footer-bottom .widget:last-child {
	margin-bottom: 0;
}

#footer-bottom .widget-social {
	text-align: right;
}

/* DARK FOOTER */
.footer-dark #footer-bottom {
	background-color: #222032;
}

.footer-dark #footer-bottom h1,
.footer-dark #footer-bottom h2,
.footer-dark #footer-bottom h3,
.footer-dark #footer-bottom h4,
.footer-dark #footer-bottom h5,
.footer-dark #footer-bottom h6 {
	color: #afafaf;
}

.footer-dark #footer-bottom .btn-outline {
	color: #fff;
}

.footer-dark #footer-bottom .btn-white {
	color: #838383;
}

#footer-bottom .widget:last-child {
	margin-bottom: 0;
}

.footer-dark #footer-bottom .widget-recent-posts ul li .post-title,
.footer-dark #footer-bottom .widget-recent-posts ul li .post-details a,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-title,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-details a.post-category,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-details a:last-of-type,
.footer-dark #footer-bottom .widget-recent-comments ul li,
.footer-dark #footer-bottom .widget-recent-comments ul li a {
	color: inherit;
}

.footer-dark #footer-bottom .widget-recent-posts ul li .post-title:hover,
.footer-dark #footer-bottom .widget-recent-posts ul li .post-details a:hover,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-title:hover,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-details a.post-category:hover,
.footer-dark #footer-bottom .widget-latest-posts ul li .post-details a:last-of-type:hover,
.footer-dark #footer-bottom .widget-recent-comments ul li a:hover {
	color: #00f0d1;
}

@media (max-width: 767px) {

	#footer-bottom [class^="col-"] + [class^="col-"] {
		margin-top: 10px;
	}

	#footer-bottom .widget-social {
		text-align: center;
	}

	#footer-bottom .copyright {
		text-align: center;
	}

}

/***********************************************************************************
 *	+ PAGES
 ***********************************************************************************/
/***********************************************************************************
 *	- INDEX
 ***********************************************************************************/

/* SMARTPHONES SECTION */
#smartphones-section {}

#smartphones-section img {
	position: relative;
}

#smartphones-section img:nth-child(1) {
	z-index: 3;
}

#smartphones-section img:nth-child(2) {
	z-index: 2;
	margin-top: 135px;
	margin-left: -120px;
}

#smartphones-section img:nth-child(3) {
	z-index: 1;
	margin-top: 20px;
	margin-left: -120px;
}

@media (max-width: 1199px) {

	#smartphones-section img {
		max-width: 45%;
	}

}

@media (max-width: 767px) {

	#smartphones-section {
		margin-top: 50px;
		text-align: center;
	}

	#smartphones-section img {
		max-width: 100%;
	}

	#smartphones-section img:nth-child(1),
	#smartphones-section img:nth-child(2),
	#smartphones-section img:nth-child(3) {
		margin-left: 0;
	}

}

/* SCREENS SECTION */
#screens-section {
	position: relative;
	margin-top: 90px;
}

#screens-section img {
	position: relative;
}

#screens-section img:nth-child(1) {
	z-index: 1;
	margin-top: 80px;
}

#screens-section img:nth-child(2) {
	z-index: 2;
	margin-left: -90px;
}

#screens-section img:nth-child(3) {
	position: absolute;
	right: -150px;
	bottom: -25px;
	z-index: 1;
}

@media (max-width: 1199px) {

	#screens-section img {
		max-width: 60%;
	}

}

@media (max-width: 991px) {

	#screens-section {
		margin-top: 20px;
	}

}

@media (max-width: 767px) {

	#screens-section {
		text-align: center;
	}

	#screens-section img {
		max-width: 100%;
	}

	#screens-section img:nth-child(1),
	#screens-section img:nth-child(2),
	#screens-section img:nth-child(3) {
		margin-left: 0;
	}

	#screens-section img:nth-child(2) {
		margin-top: 75px;
	}

	#screens-section img:nth-child(3) {
		position: relative;
		right: 0;
	}

}

/* SIGNATURE */
.signature {
	position: relative;
	float: right;
	padding-right: 110px;
	margin-top: 20px;
	color: #252525;
	font-weight: 600;
}

.signature img {
	position: absolute;
	bottom: -40px;
	right: 0;
}

/* CIRCLE TEXT */
.circle-text {
	float: right;
	width: 164px;
	padding: 50px 0;
	border-radius: 50%;
	margin-right: 50px;
	background-color: #ff0050;
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 45px 90px 40px 0 rgba(0, 0, 0, 0.27);
}

/***********************************************************************************
 *	- ABOUT
 ***********************************************************************************/

.about-me {
	margin-bottom: 50px;
	text-align: center;
}

.about-me-thumbnail {
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}

.about-me-hover a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #00f0d1;
	background: -webkit-linear-gradient(15deg, #a966ee, #00f0d1);
	background: -ms-linear-gradient(15deg, #a966ee, #00f0d1);
	background: linear-gradient(15deg, #a966ee, #00f0d1);
	color: #fff;
	opacity: 0;
	cursor: url(http://milothemes.com/decode/demo-01/assets/images/zoom.png), auto;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.about-me-thumbnail.rounded-circle .about-me-hover a {
	border-radius: 50%;
}

.about-me h6 {
	margin-bottom: 0;
	font-weight: 600;
}

.about-me h6 + span {
	display: inline-block;
	margin-bottom: 20px;
	color: #00f0d1;
	font-size: 13px;
}

.about-me > a {
	display: inline-block;
	color: #252525;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.about-me > a:after {
	display: block;
	width: auto;
	height: 2px;
	margin-top: -5px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
}

.about-me > a:hover {
	color: #00f0d1;
}

.about-me:hover .about-me-hover a {
	opacity: 0.7;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}


.about-me > *:last-child {
	margin-bottom: 0;
}

/* STYLE 2 */
.about-me.style-2 {
	text-align: left;
}

.about-me.style-2 .about-me-thumbnail {
	float: left;
	width: 30%;
	margin-right: 30px;
}

.about-me.style-2:after {
	display: table;
	clear: both;
	content: "";
}

@media (max-width: 991px) {

        .about-me.style-2 .about-me-thumbnail {
                float: none;
                width: 50%;
        }

}

/***********************************************************************************
 *	- SERVICES
 ***********************************************************************************/

.services-container {
	padding-left: 30px;
	padding-right: 30px;
}

.service-box {
	margin-bottom: 50px;
}

.service-box-content {}

.service-box-content > a {
	display: inline-block;
	color: #252525;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box-content > a:after {
	display: block;
	width: auto;
	height: 2px;
	margin-top: -5px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
}

.service-box-content > a:hover {
	color: #00f0d1;
	text-decoration: none;
}

.service-box-content > *:last-child {
	margin-bottom: 0;
}

/* STYLE 1 */
.service-box.style-1 {
	position: relative;
	padding-top: 155px;
	text-align: center;
}

.service-box.style-1 > i {
	position: absolute;
	top: 40px;
	left: 50%;
	display: inline-block;
	color: #c2c2c2;
	font-size: 52px;
	line-height: 52px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.service-box.style-1 > i:after {
	position: absolute;
	top: -40px;
	left: 50%;
	display: block;
	width: 135px;
	height: 132px;
	background: url(http://milothemes.com/decode/demo-01/assets/images/dots.png) no-repeat center center;
	content: "";
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.service-box.style-1 .service-box-content h5 {
	margin-bottom: 15px;
	font-weight: 600;
}

.service-box.style-1:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.service-box.style-1:hover > i:after {
	background-image: url(http://milothemes.com/decode/demo-01/assets/images/dots-hover.png);
}

/* STYLE 2 */
.service-box.style-2 {
	position: relative;
	margin-bottom: 30px;
	background-color: #f1f6f9;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-2 > a {
	display: block;
	padding: 50px 20px 45px;
	text-decoration: none;
}

.service-box.style-2 > a > i {
	display: inline-block;
	margin-bottom: 25px;
	color: #00f0d1;
	font-size: 56px;
	line-height: 56px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-2 .service-box-content h6 {
	font-weight: 600;
}

.service-box.style-2:hover {
	background-color: #fff;
	box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
}

.service-box.style-2:hover > a > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* STYLE 3 */
.service-box.style-3 {}

.service-box.style-3.icon-right {
	text-align: right;
}

.service-box.style-3 > i {
	display: block;
	margin-top: 5px;
	color: #c2c2c2;
	font-size: 56px;
	line-height: 56px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-3.icon-left > i {
	float: left;
}

.service-box.style-3.icon-right > i {
	float: right;
}

.service-box.style-3.icon-left .service-box-content {
	margin-left: 85px;
}

.service-box.style-3.icon-right .service-box-content {
	margin-right: 85px;
}

.service-box.style-3 .service-box-content h6 {
	margin-bottom: 20px;
	font-weight: 600;
}

.service-box.style-3.icon-left .service-box-content h6,
.service-box.style-3.icon-right .service-box-content h6 {
	margin-bottom: 10px;
}

.service-box.style-3:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* STYLE 4 */
.service-box.style-4 {
	position: relative;
	margin-bottom: 70px;
	text-align: center;
}

.service-box.style-4 > i {
	display: inline-block;
	margin-bottom: 45px;
	color: #c2c2c2;
	font-size: 52px;
	line-height: 52px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-4 > img {
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 45px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-4 > h1 {
	margin-bottom: 30px;
	font: 100 112px/112px "Roboto", sans-serif;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-4 .service-box-content h5 {
	margin-bottom: 15px;
	font-weight: 600;
}

.service-box.style-4:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.service-box.style-4:hover > img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.service-box.style-4:hover > h1 {
	color: #00f0d1;
	background: -webkit-linear-gradient(15deg, #a966ee, #00f0d1);
	background: -ms-linear-gradient(15deg, #a966ee, #00f0d1);
	background: linear-gradient(15deg, #a966ee, #00f0d1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* STYLE 5 */
.service-box.style-5 {}

.service-box.style-5 > i {
	float: left;
	color: #c2c2c2;
	font-size: 48px;
	line-height: 48px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-5 .service-box-content {}

.service-box.style-5 .service-box-content h5 {
	position: relative;
	padding-top: 8px;
	margin-bottom: 35px;
	margin-left: 80px;
	font-weight: 600;
}

.service-box.style-5 .service-box-content h5 small {
	position: absolute;
	bottom: -25px;
	display: block;
	color: #a3a3a3;
	font-size: 12px;
	font-weight: 400;
}

.service-box.style-5:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(15deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(15deg, #00f0d1, #a966ee);
	background: linear-gradient(15deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* STYLE 6 */
.service-box.style-6 {}

.service-box.style-6 > i {
	float: left;
	display: block;
	color: #c2c2c2;
	font-size: 54px;
	line-height: 54px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-6 .service-box-content {
	margin-left: 90px;
}

.service-box.style-6 .service-box-content h6 {
	font-weight: 600;
}

.service-box.style-6:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(15deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(15deg, #00f0d1, #a966ee);
	background: linear-gradient(15deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* STYLE 7 */
.service-box.style-7 {
	position: relative;
	z-index: 1;
	padding: 45px 40px 65px;
	margin-bottom: 30px;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-7.large {
	padding-top: 70px;
	padding-bottom: 120px;
}

.service-box.style-7:after {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-left: 2px solid #00f0d1;
	border-right: 2px solid #a966ee;
	background-size: 100% 2px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(51deg, #00f0d1, #a966ee), linear-gradient(51deg, #00f0d1, #a966ee);
	content: "";
}

.service-box.style-7 > i {
	display: block;
	margin-bottom: 30px;
	color: #c2c2c2;
	font-size: 58px;
	line-height: 58px;
}

.service-box.style-7 .service-box-content h5,
.service-box.style-7 .service-box-content h6 {
	margin-bottom: 35px;
	font-weight: 600;
}

.service-box.style-7:hover {
	background: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	color: #fff;
}

.service-box.style-7:hover:after {
	background-size: 0 0;
}

.service-box.style-7:hover:after {
	border-color: transparent;
}

.service-box.style-7:hover i {
	color: inherit;
}

.service-box.style-7:hover a {
	color: #fff;
}

.service-box.style-7:hover a:hover {
	color: #0c0c0c;
}

/* STYLE 8 */
.service-box.style-8 {
	position: relative;
	padding: 50px 40px;
	margin-bottom: 30px;
	background-color: #00f0d1;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-8.large {
	padding-top: 70px;
	padding-bottom: 120px;
}

.service-box.style-8 > i {
	display: inline-block;
	margin-bottom: 45px;
	color: #fff;
	font-size: 52px;
	line-height: 52px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-8 .service-box-content h5 {
	margin-bottom: 15px;
	font-weight: 600;
}

.service-box.style-8.large .service-box-content h5 {
	margin-bottom: 40px;
}

.service-box.style-8 .service-box-content h5 a {
	color: #fff;
}

.service-box.style-8 .service-box-content h5 a:hover {
	color: #252525;
}

.service-box.style-8:hover {
	z-index: 1;
	box-shadow: 0 51px 40px 0 rgba(0, 0, 0, 0.4);
}

/* STYLE 9 */
.service-box.style-9 {
	text-align: center;
}

.service-box.style-9 > span {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.service-box.style-9 > span:after {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-9 > span i {
	position: relative;
	z-index: 2;
	display: inline-block;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background-color: #00f0d1;
	color: #fff;
	font-size: 52px;
	line-height: 128px;
	text-align: center;
}

.service-box.style-9 .service-box-content h5 {
	margin-bottom: 20px;
	font-weight: 600;
}

.service-box.style-9:hover > span:after {
	margin: -7px;
}

/* STYLE 10 */
.service-box.style-10 {
	text-align: center;
}

.service-box.style-10 > i {
	position: relative;
	display: inline-block;
	width: 128px;
	height: 128px;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	margin-bottom: 30px;
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 52px;
	line-height: 128px;
	text-align: center;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.service-box.style-10 > i:after {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 0 solid #00f0d1;
	margin: -2px;
	content: "";
	-webkit-transition: border-top-width 0.1s, border-right-width 0.1s 0.1s, border-bottom-width 0.1s 0.2s, border-left-width 0.1s 0.3s;
	transition: border-top-width 0.1s, border-right-width 0.1s 0.1s, border-bottom-width 0.1s 0.2s, border-left-width 0.1s 0.3s;
}

.service-box.style-10 .service-box-content h5 {
	margin-bottom: 20px;
	font-weight: 600;
}

.service-box.style-10:hover > i:after {
	border-width: 2px;
}

/* STYLE 11 */
.service-box.style-11 {}

.service-box.style-11 > i {
	float: left;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: #f1f6f9;
	font-size: 36px;
	line-height: 70px;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.service-box.style-11 > i:before {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.service-box.style-11 .service-box-content {
	margin-left: 85px;
}

.service-box.style-11 .service-box-content h6 {
	margin-bottom: 10px;
	font-weight: 600;
}

.service-box.style-11:hover I {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* DARK SECTION */
.full-section .service-box.style-2 {
	background-color: #fff;
	color: #252525;
}

.full-section .service-box.style-2 h6 {
	color: #252525;
}

.full-section.dark-section .service-box-content > a:after {
	background: #fff;
}

.full-section.dark-section .service-box.style-7 {
	background-color: #131a27;
}

.full-section.dark-section .service-box.style-7:after {
	border-color: transparent;
	background: transparent;
}

.full-section.dark-section .service-box.style-7:hover {
	background: transparent;
}

.full-section.dark-section .service-box.style-7:hover:after {
	border-left-color: #00f0d1;
	border-right-color: #a966ee;
	background-size: 100% 2px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(51deg, #00f0d1, #a966ee), linear-gradient(51deg, #00f0d1, #a966ee);
}

.full-section.dark-section .service-box.style-11 > i {
	background-color: #fff;
}

@media (min-width: 1200px) {

	.services-container {
		padding-left: 20%;
		padding-right: 50px;
	}

	.service-box.style-1 {
		padding-right: 15px;
		padding-left: 15px;
	}

	.service-box.style-4 {
		padding-right: 15px;
		padding-left: 15px;
	}

}

@media (min-width: 1600px) {

	.services-container {
		padding-left: 40%;
		padding-right: 50px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.service-box.style-5 > i {
		font-size: 36px;
		margin-right: 15px;
	}

	.service-box.style-5 .service-box-content h5 {
		font-size: 18px;
		margin-left: 60px;
	}

	.service-box.style-8 {
		position: relative;
		padding: 50px 20px;
	}

}

@media (max-width: 767px) {

	.services-container {
		padding-left: 15px;
		padding-right: 15px;
	}

}

/***********************************************************************************
 *	- PORTFOLIO
 ***********************************************************************************/

.portfolio-item {
	margin-bottom: 50px;
	overflow: hidden;
}

.portfolio-item-thumbnail {
	position: relative;
	overflow: hidden;
}

.portfolio-item-thumbnail img {
	width: 100%;
	display: block;
}

.portfolio-item-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #00f0d1;
	background: -webkit-linear-gradient(42deg, #00f0d1, #4766c8, #c44fcb);
	background: -ms-linear-gradient(42deg, #00f0d1, #4766c8, #c44fcb);
	background: linear-gradient(42deg, #00f0d1, #4766c8, #c44fcb);
	mix-blend-mode: multiply;
	color: #fff;
	opacity: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.portfolio-item .zoom-action {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: url(http://milothemes.com/decode/demo-01/assets/images/zoom.png), auto;
}

.portfolio-item-description {
	text-align: center;
	mix-blend-mode: none;
}

.portfolio-item-thumbnail .portfolio-item-description {
	z-index: 1;
	color: #fff;
}

.portfolio-item-thumbnail .portfolio-item-description a {
	color: #fff;
}

.portfolio-item-thumbnail .portfolio-item-description a:hover {
	color: #00f0d1;
}

.portfolio-item-thumbnail + .portfolio-item-description {
	margin: 20px 0;
}

.portfolio-item-description h6 {
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.portfolio-item-description p {
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.portfolio-item:hover .portfolio-item-hover {
	opacity: 1;
}

.portfolio-item-thumbnail .portfolio-item-description h6 {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: scale(0.7) translate(-50%, -50%);
	-ms-transform: scale(0.7) translate(-50%, -50%);
	transform: scale(0.7) translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.portfolio-item-thumbnail .portfolio-item-description p {
	position: absolute;
	bottom: -20px;
	right: 20px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.portfolio-item:hover .portfolio-item-thumbnail .portfolio-item-description p {
	bottom: 20px;
}

.portfolio-item:hover .portfolio-item-thumbnail .portfolio-item-description h6 {
	opacity: 1;
	-webkit-transform: scale(1) translate(-50%, -50%);
	-ms-transform: scale(1) translate(-50%, -50%);
	transform: scale(1) translate(-50%, -50%);
}

/* PORTFOLIO CLASSIC */
.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
	float: left;
	width: 65%;
}

.portfolio-item.portfolio-classic .portfolio-item-description {
	float: left;
	width: 35%;
	margin-top: 0;
	text-align: left;
}

.portfolio-item.portfolio-classic .portfolio-item-thumbnail + .portfolio-item-description {
	padding-left: 30px;
}

.portfolio-item.portfolio-classic .portfolio-item-description h4 {
	margin-bottom: 25px;
}

.portfolio-item.portfolio-classic .portfolio-item-description h6 {
	font-size: 12px;
	font-weight: 400;
}

.portfolio-item.portfolio-classic .portfolio-item-description h6 + p {
	font-size: 14px;
	font-weight: 600;
}

.portfolio-item.portfolio-classic .portfolio-item-description p {
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

@media (max-width: 991px) {

	.portfolio-item.portfolio-classic .portfolio-item-thumbnail,
	.portfolio-item.portfolio-classic .portfolio-item-description {
		float: none;
		width: 100%;
	}

	.portfolio-item.portfolio-classic .portfolio-item-thumbnail {
		margin-bottom: 30px;
	}

	.portfolio-item.portfolio-classic .portfolio-item-description {
		padding-left: 0;
	}

}

/***********************************************************************************
 *	- BLOG
 ***********************************************************************************/

/* BLOG ARTICLE */
.blog-article {
	margin-bottom: 70px;
}

.blog-article-thumbnail {
	overflow: hidden;
	margin-bottom: 50px;
}

.blog-article-thumbnail .images-slider {
	margin-bottom: 0;
}

.blog-article-thumbnail img {
	-webkit-transition: all 1s;
	transition: all 1s;
}

.blog-article-title {
	margin-top: 20px;
}

.blog-article-details {
	margin-bottom: 0;
	list-style: none;
}

.blog-article-details li {
	float: left;
	margin-right: 20px;
	font-size: 14px;
	line-height: 26px;
}

.blog-article-details li a {
	color: #838383;
	text-decoration: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.blog-article-details li i {
	margin-right: 5px;
	color: #c1c1c1;
}

.blog-article-details:after {
	display: table;
	clear: both;
	content: "";
}

.blog-article-details li:last-child {
	margin-right: 0;
}

.blog-article.featured .blog-article-details li,
.blog-article-thumbnail + .blog-article-details li {
	float: none;
}

.blog-article.featured .blog-article-details li.category,
.blog-article-thumbnail + .blog-article-details li.category {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.blog-article.featured .blog-article-details li.category a,
.blog-article-thumbnail + .blog-article-details li.category a {
	color: #252525;
}

.blog-article-details li a:hover,
.blog-article-details li.category a:hover {
	color: #00f0d1;
}

.blog-article:hover .blog-article-thumbnail > a > img,
.blog-article:hover .blog-article-thumbnail > img {
	-webkit-transform: scale(1.15) rotate(3deg);
	-ms-transform: scale(1.15) rotate(3deg);
	transform: scale(1.15) rotate(3deg);
}

.blog-article-content {
	margin-top: 30px;
}

.blog-article-content > a {
	display: inline-block;
	color: #252525;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.blog-article-content > a:after {
	display: block;
	width: auto;
	height: 2px;
	margin-top: -5px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
}

.blog-article-content > a:hover {
	color: #00f0d1;
}

.blog-article-footer {}

.blog-article-footer .blog-article-details {
	text-align: right;
}

.blog-article-footer .blog-article-details li {
	float: none;
	font-size: 15px;
	font-weight: 600;
}

.blog-article-footer .blog-article-details li,
.blog-article-footer .blog-article-details li a,
.blog-article-footer .blog-article-details li i {
	color: #252525;
}

.blog-article-footer .blog-article-details li.comments i {
	position: relative;
	top: 2px;
}

/* FEATURED */
.blog-article.featured {
	padding: 45px 35px;
	background-color: #f1f6f9;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.blog-article.featured > span {
	display: inline-block;
	padding: 3px 15px;
	border: 2px solid #00f0d1;
	margin-bottom: 25px;
	color: #00f0d1;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.blog-article.featured:hover > span {
        border-color: #fff;
        color: #fff;
}

.blog-article.featured .blog-article-thumbnail {
        margin-top: -45px;
        margin-right: -35px;
        margin-left: -35px;
}

.blog-article.featured .blog-article-thumbnail + span {
        position: absolute;
        top: 20px;
        left: 40px;
        border: 2px solid #00f0d1;
        color: #00f0d1;
}

.blog-article.featured:hover {
	background-color: #00f0d1;
	color: #fff;
}

.blog-article.featured i,
.blog-article.featured a {
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.blog-article.featured .blog-article-footer .blog-article-details {
        text-align: left;
}

.blog-article.featured:hover i,
.blog-article.featured:hover a,
.blog-article.featured:hover .blog-article-details li.category a {
	color: #ffffff;
}

.blog-article.featured .blog-article-details li a:hover,
.blog-article.featured .blog-article-details li.category a:hover,
.blog-article.featured a:hover i,
.blog-article.featured a:hover {
	color: #252525;
}

@media (min-width: 768px) and (max-width: 991px) {

	.blog-article-title {
		font-size: 1.2rem;
	}

}

@media (max-width: 479px) {

	.blog-article-details li {
		float: none;
	}

}

/* BLOG ARTICLE AUTHOR */
.blog-article-author {
	position: relative;
	padding: 30px 30px 30px 50px;
	border: 2px solid #ebebeb;
	border-bottom: none;
	margin: 80px 0;
}

.blog-article-author:after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
}

.blog-article-author > img {
	float: left;
	display: block;
	border-radius: 50%;
	margin-bottom: 10px;
}

.blog-article-author h6 {
	font-weight: 600;
}

.blog-article-author h6 small {
	display: block;
	color: #838383;
	font-size: 13px;
	font-weight: 400;
}

.blog-article-author-details {
	margin-left: 70px;
}

.blog-article-author-details > *:last-child {
	margin-bottom: 0;
}

@media (max-width: 767px) {

	.blog-article-author {
		padding: 25px;
	}

	.blog-article-author > img {
		float: none;
		display: block;
		margin-bottom: 20px;
	}

	.blog-article-author-details {
		margin-left: 0;
	}

}

/* BLOG POST COMMENT */
.commentlist-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.commentlist,
.commentlist ul {
	list-style: none;
}

.commentlist {
	margin: 70px 0 100px;
}

.commentlist ul {}

.commentlist li > ul.children {
	margin-left: 100px;
}

.commentlist li {}

.comment-body {
	position: relative;
	padding-left: 75px;
	margin-bottom: 65px;
}

.comment-author {}

.comment-author .avatar {
	position: absolute;
	top: 5px;
	left: 0;
	border-radius: 50%;
}

.comment-author .fn {
	color: #252525;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.comment-author .fn:hover {
	color: #00f0d1;
}

.comment-author .says {
	display: none;
}

.comment-metadata {
	margin-bottom: 15px;
	font-size: 13px;
	line-height: 24px;
}

.comment-metadata a {
	color: #838383;
	text-decoration: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.comment-metadata a:hover {
	color: #00f0d1;
}

.comment-content {}

.reply {}

.reply a {
	display: inline-block;
	color: #252525;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.reply a:after {
	display: block;
	width: auto;
	height: 2px;
	margin-top: -5px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	content: "";
}

.reply a:hover {
	color: #00f0d1;
	text-decoration: none;
}

@media (max-width: 767px) {

	.commentlist li > ul.children {
		margin-left: 20px
	}

	.comment-body {
		padding-left: 0;
	}

	.comment-author .avatar {
		position: relative;
		display: block;
		margin-bottom: 20px;
	}

}


/* BLOG POST COMMENT FORM */
.commentform-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

#commentform {
	margin-top: 20px;
	margin-bottom: 20px;
}

#commentform label {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 0;
	color: #aaa;
	font-size: 14px;
	font-style: italic;
	pointer-events:none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#commentform #url,
#commentform #name,
#commentform #email,
#commentform #comment {
	padding-left: 0;
	border: none;
	border-bottom: 2px solid #ebebeb;
	margin-bottom: 0;
}

.commentform-url,
.commentform-email,
.commentform-author,
.commentform-comment {
	position: relative;
}

#commentform input ~ span,
#commentform textarea ~ span {
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 50%;
	display: block;
	width: 0;
	height: 2px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.commentform-url:after,
.commentform-email:after,
.commentform-author:after,
.commentform-comment:after {
	display: table;
	content: " ";
	clear: both;
}

#commentform input:focus ~ label,
#commentform textarea:focus ~ label,
#commentform input:valid ~ label,
#commentform textarea:valid ~ label {
	top: -15px;
	color: #252525;
	font-size: 12px;
	font-style: normal;
}

#commentform input:focus ~ span,
#commentform textarea:focus~  span {
	width: 100%;
}

#commentform button[type="submit"] {
	margin-top: 20px;
	margin-bottom: 0;
}


/***********************************************************************************
 *	- CONTACT
 ***********************************************************************************/

/* CONTACT FORM */
#contact-form {
	position: relative;
	margin-bottom: 50px;
}

#alert-area {
	margin: 20px 0;
}

#contact-form p {
	position: relative;
	margin-bottom: 0;
}

#contact-form textarea,
#contact-form input[type="text"] {
	padding-left: 0;
	border: none;
	border-bottom: 2px solid #ebebeb;
}

#contact-form label {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 0;
	color: #aaa;
	font-size: 14px;
	font-style: italic;
	pointer-events:none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#contact-form input ~ span,
#contact-form textarea ~ span {
	position: absolute;
	z-index: 20;
	bottom: 20px;
	left: 50%;
	display: block;
	width: 0;
	height: 2px;
	background: #00f0d1;
	background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
	background: linear-gradient(90deg, #00f0d1, #a966ee);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#contact-form input:focus ~ label,
#contact-form textarea:focus ~ label,
#contact-form input:valid ~ label,
#contact-form textarea:valid ~ label {
	top: -10px;
	font-size: 12px;
	font-style: normal;
}

#contact-form input:focus ~ span,
#contact-form textarea:focus~  span {
	width: 100%;
}

#contact-form label.error,
#contact-form #name-error,
#contact-form #email-error,
#contact-form #subject-error,
#contact-form #message-error,
#contact-form input:focus ~ label.error,
#contact-form textarea:focus ~ label.error {
	position: absolute;
	top: 100%;
	margin-top: -20px;
	color: #ff0050;
	font-size: 12px;
	font-style: normal;
}

#contact-form button[type="submit"] {
	margin-top: 20px;
	margin-bottom: 0;
}

#contact-form p:after {
	display: table;
	content: " ";
	clear: both;
}

/* QUICK CONTACT FORM */
.quick-contact-form {
	padding: 40px 20px;
	border: 2px solid #ebebeb;
	margin-bottom: 50px;
}

.quick-contact-form h6 {
	font-weight: 600;
}

.quick-contact-form #contact-form {
	margin-bottom: 0;
}

.quick-contact-form.style-2 {
	position: relative;
	padding: 40px 80px 40px;
	border: none;
}

.quick-contact-form.style-2:before,
.quick-contact-form.style-2:after {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

.quick-contact-form.style-2:before {
	background-color: #000;
	opacity: 0.61;
}

.quick-contact-form.style-2:after {
	background: #00f0d1;
	background: -webkit-linear-gradient(45deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(45deg, #00f0d1, #a966ee);
	background: linear-gradient(45deg, #00f0d1, #a966ee);
	opacity: 0.61;
}

.quick-contact-form.style-2 #contact-form button[type="submit"] {
	border-radius: 2px;
	width: 100%;
}

/* DARK SECTION */
.full-section.dark-section #contact-form label {
	color: inherit;
}

@media (max-width: 991px) {

	.quick-contact-form {
		margin-top: 50px;
	}

}

@media (max-width: 767px) {

	.quick-contact-form.style-2 {
		padding: 40px 30px 40px;
	}

}

/* CONTACT BOXES */
.contact-box {
	position: relative;
	margin-bottom: 50px;
	text-align: center;
}

.contact-box > i {
	display: inline-block;
	margin-bottom: 45px;
	color: #00f0d1;
	font-size: 52px;
	line-height: 52px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.contact-box .contact-box-content h6 {
	margin-bottom: 30px;
	font-weight: 600;
}

.contact-box .contact-box-content a {
	color: #838383;
}

.contact-box .contact-box-content > *:last-child {
	margin-bottom: 0;
}

.contact-box:hover > i {
	color: #00f0d1;
	background: -webkit-linear-gradient(51deg, #00f0d1, #a966ee);
	background: -ms-linear-gradient(51deg, #00f0d1, #a966ee);
	background: linear-gradient(51deg, #00f0d1, #a966ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/***********************************************************************************
 *	- SHORTCODES
 ***********************************************************************************/

.icons-list-shortcodes {
	margin-bottom: 100px;
	list-style: none;
}

.icons-list-shortcodes li {
	text-align: center;
	display: inline-block;
	padding: 10px;
	width: 13.7%;
	min-height: 115px;
	vertical-align: top;
}

.icons-list-shortcodes li i {
	font-size: 32px;
}

.icons-list-shortcodes li i[class^="fa fa-"] {
	font-size: 26px;
}

.icons-list-shortcodes li .icon-name {
	display: block;
}

@media (min-width: 768px) and (max-width: 991px) {

	.icons-list-shortcodes li {
		width: 19%;
	}

}

@media (max-width: 767px) {

	.icons-list-shortcodes li {
		width: 49%;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.icons-list-shortcodes li {
		width: 32%;
	}

}